<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

      <h2>Lista</h2>
      <% adsList.forEach(ad => { %>
        <div class="element">
        <div class="element_size">
        <img src="/images/anuncios/<%= ad.foto %>" alt="Foto de <%= ad.nombre%>" class ="photo">
        </div>
        <p class="name">
          <%= ad.nombre%>
        </p>
        <p class="price">
          <%=ad.precio %> euros
        </p>
        </div>
        <% })%>
  </body>
</html>
